/* Root
================================================== */
:root {
  --main-color-gold: #BA8B41;
  --bttn-color: #fff;
  --bttn-hover-color: #fff;
  --bttn-hover-background: #fff;
  --bttn-radius: 0;
}
/* Super Form Reset
================================================== */
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  border-radius: 0;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
input:focus {
  outline: 0;
}
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-control {
  border-width: var(--input-border-width);
  border-color: var(--input-border-color);
  border-radius: var(--input-border-radius);
}
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
::-webkit-search-decoration {
  display: none;
}
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  overflow: visible;
  width: auto;
}
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}
textarea {
  vertical-align: top;
  overflow: auto;
  resize: none;
}
select[multiple] {
  vertical-align: top;
}
input[type=checkbox] {
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;
}
button {
  cursor: pointer;
}
.formError {
  position: absolute;
  top: 300px;
  left: 300px;
  display: block;
  z-index: 500;
  cursor: pointer;
}
.formError .formErrorContent {
  background: #ff9000;
  position: relative;
  z-index: 5001;
  color: #fff;
  width: 190px;
  font-size: 10px;
  border: 1px solid #ff9000;
  line-height: normal;
  padding: 2px 10px 2px 10px;
}
.formError .formErrorArrow {
  width: 12px;
  margin: -2px 0 0 1px;
  position: relative;
  z-index: 5006;
}
.formError .formErrorArrowBottom {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 0 0 12px;
  top: 2px;
}
.formError .formErrorArrow div {
  font-size: 0;
  height: 1px;
  background: #ff9000;
  margin: 0 auto;
  line-height: 0;
  display: block;
}
.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.formError .formErrorArrow .line10 {
  width: 15px;
  border: 0;
}
.formError .formErrorArrow .line9 {
  width: 13px;
  border: 0;
}
.formError .formErrorArrow .line8 {
  width: 11px;
}
.formError .formErrorArrow .line7 {
  width: 9px;
}
.formError .formErrorArrow .line6 {
  width: 7px;
}
.formError .formErrorArrow .line5 {
  width: 5px;
}
.formError .formErrorArrow .line4 {
  width: 3px;
}
.formError .formErrorArrow .line3 {
  width: 1px;
}
.formError .formErrorArrow .line2 {
  width: 0;
}
.formError .formErrorArrow .line1 {
  width: 0;
}
.inputbox-error {
  border-bottom: 1px solid #ff9000 !important;
}
/* Nadpisz Bootstrap
================================================== */
body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  background: #fff url("../images/bg.jpg") no-repeat;
  background-size: cover;
  color: #222;
}
a {
  color: #04025f;
  text-decoration: underline;
}
.homepage {
  overflow-x: hidden;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: inherit;
}
a:focus,
button:focus {
  outline: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
b,
strong {
  font-weight: 600;
}
p,
li {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  font-family: "Figtree", sans-serif;
  font-weight: 300;
}
p.line-normal {
  line-height: normal;
}
h1,
h2,
h3,
h4 {
  font-family: "Georgia", serif;
  font-style: oblique;
  font-weight: normal;
  color: #222;
}
h2 {
  font-size: 42px;
  line-height: 50px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
  color: #222;
}
.poppins {
  font-family: 'Poppins', sans-serif !important;
}
iframe {
  display: block;
  border: 0;
}
.font-style-normal {
  font-style: normal !important;
}
.navbar {
  justify-content: flex-end;
  padding: 0;
  flex-wrap: nowrap;
}
.text-justify {
  text-align: justify !important;
}
.text-gold {
  color: var(--main-color-gold) !important;
}
@media (min-width: 1420px) {
  .container {
    max-width: 1380px;
  }
}
:focus,
button:focus,
.form-control:focus {
  outline: none;
  box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25);
}
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.25);
}
::-moz-focus-inner {
  border: 0;
}
.no-gutters {
  margin: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.form-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(13, 110, 253, 0);
}
/* Youtube
================================================== */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 35px 0;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#slider {
  width: 100%;
  background: #a3a3a3;
  position: relative;
}
#slider li {
  position: relative;
}
#slider li .container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#slider li h2 {
  font-size: 43px;
  font-family: "MuseoModerno", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 30px;
}
#slider li .slider-img {
  padding-bottom: 20px;
}
#slider .rslides_nav {
  display: flex;
  width: 50px;
  height: 50px;
  background: white;
  border: 1px solid #978C7D;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 990;
  justify-content: center;
  align-items: center;
}
#slider .rslides_nav.prev {
  left: 50px;
}
#slider .rslides_nav.next {
  right: 50px;
}
@media (min-width: 2170px) {
  #slider .container {
    max-width: 1850px;
  }
}
@media (min-width: 1880px) and (max-width: 2169px) {
  #slider .container {
    max-width: 1600px;
  }
}
@media (min-width: 1620px) and (max-width: 1879px) {
  #slider .container {
    max-width: 1380px;
  }
}
@media (min-width: 1380px) and (max-width: 1619px) {
  #slider .container {
    max-width: 1080px;
  }
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides li:first-child {
  display: block;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
/* Search form
================================================== */
#search {
  width: 100%;
  height: 130px;
  background: #978C7D;
  border-radius: 70px;
  box-shadow: inset 0 0 15px #232323;
  padding: 0 15px 0 60px;
  margin-top: -65px;
  position: relative;
  z-index: 900;
}
#search .input-select {
  margin-right: 30px;
  width: 200px;
}
#search .input-select label {
  font-size: 13px;
  font-family: "MuseoModerno", sans-serif;
  font-weight: 400;
  color: white;
}
#search .input-select select {
  border: 0;
  border-radius: 0;
  background: #978c7d;
  border-bottom: 1px solid white;
  font-size: 15px;
  color: white;
  padding-left: 0;
}
#search button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: inset 0 0 6px #000000;
  background: white;
}
/* Buttons
================================================== */
.bttn-big {
  padding: 0 30px;
  margin: 40px 32px 0;
  height: 57px;
  background-image: url("../images/button-bg.png");
  background-size: 100% 57px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 14px;
  color: white;
  font-family: "MuseoModerno", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.bttn-big:before,
.bttn-big:after {
  position: absolute;
  display: block;
  width: 32px;
  height: 57px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
}
.bttn-big:before {
  background-image: url("../images/button-left.png");
  left: -32px;
}
.bttn-big:after {
  background-image: url("../images/button-right.png");
  right: -32px;
}
.bttn-big:hover {
  color: white;
}
.bttn-text {
  font-family: "MuseoModerno", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 18px;
}
.bttn-text.bttn-text-white {
  color: white;
}
.bttn-text svg {
  margin-left: 10px;
}
/* Boxes
================================================== */
.box-icon-title-text {
  margin-top: 20px;
}
.box-icon-title-text .box-icon-holder {
  margin: 40px auto 20px;
  display: flex;
  height: 132px;
  width: 87px;
  background: url("../images/box-icon-holder.svg") no-repeat center center;
  justify-content: center;
  align-items: center;
}
.box-icon-title-text h3 {
  font-family: "MuseoModerno", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}
.box-icon-title-text p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}
.custom-clip {
  width: 437px;
  height: 665px;
  overflow: hidden;
  clip-path: url(#half-circle);
  filter: drop-shadow(0 0 3px #978C7D);
}
.custom-clip img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* CTA
================================================== */
#cta .cta-content {
  background: #978C7D;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  padding-left: 170px;
}
#cta h3 {
  font-family: "MuseoModerno", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  color: white;
  margin: 0;
  padding-bottom: 20px;
}
#cta li {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#cta li svg {
  margin-right: 13px;
}
#cta li a {
  font-size: 21px;
  color: white;
  font-weight: 400;
}
/* Rooms
================================================== */
.carousel-room-item {
  background: #978C7D;
  padding: 20px;
  position: relative;
  margin: 50px 0;
}
.carousel-room-item:before,
.carousel-room-item:after {
  width: 120px;
  height: 63px;
  background: url("../images/lotus.svg") no-repeat;
  position: absolute;
  display: block;
  content: "";
  left: 0;
  margin: auto;
  right: 0;
}
.carousel-room-item:before {
  bottom: 100%;
  top: -54px;
}
.carousel-room-item:after {
  top: 100%;
  bottom: -53px;
  transform: rotate(180deg);
}
.carousel-room-item h2 {
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  font-size: 39px;
  font-weight: 600;
  line-height: 40px;
}
.carousel-room-item h2 a {
  color: white;
}
.carousel-room-item ul {
  margin: 20px 0;
}
.carousel-room-item ul li {
  width: 100%;
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  color: white;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
}
.carousel-room-item ul li span {
  margin-left: auto;
  font-weight: 600;
}
.carousel-room-item ul li:last-child {
  border-bottom: 0;
}
/* Contact form
================================================== */
.contact-form {
  background: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.25);
}
.contact-form .form-control {
  border: 0;
  background: #978c7d;
  border-radius: 30px;
  padding: 15px 30px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.55);
  color: white;
  font-size: 18px;
}
.contact-form textarea {
  height: 400px;
}
.contact-form label.lab-anim {
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  padding: 0 0 6px 30px;
}
.rodo p,
.form-check p {
  font-size: 14px;
  line-height: 21px;
}
.rodo {
  margin-bottom: 16px;
}
.form-check {
  margin-left: 10px;
}
/* Mapa
================================================== */
#map {
  min-height: 810px;
}
#maplegend .box-icon-holder {
  display: flex;
  height: 103px;
  width: 69px;
  background-size: 69px 103px;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}
#maplegend .maplegend-box {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
#maplegend span {
  font-size: 15px;
}
#maplegend span strong {
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  font-size: 23px;
  font-weight: 500;
  display: block;
}
#maplegend .maplegend-red .box-icon-holder {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='87' height='132' viewBox='0 0 87 132'%3E%3Cg fill='none' stroke='red'%3E%3Cpath d='M43.5,0h0A43.5,43.5,0,0,1,87,43.5V132H0V43.5A43.5,43.5,0,0,1,43.5,0Z'/%3E%3Cpath d='M43.5.5h0a43,43,0,0,1,43,43v88H.5v-88A43,43,0,0,1,43.5.5Z'/%3E%3C/g%3E%3C/svg%3E");
}
#maplegend .maplegend-blue .box-icon-holder {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='87' height='132' viewBox='0 0 87 132'%3E%3Cg fill='none' stroke='%2300B1FF'%3E%3Cpath d='M43.5,0h0A43.5,43.5,0,0,1,87,43.5V132H0V43.5A43.5,43.5,0,0,1,43.5,0Z'/%3E%3Cpath d='M43.5.5h0a43,43,0,0,1,43,43v88H.5v-88A43,43,0,0,1,43.5.5Z'/%3E%3C/g%3E%3C/svg%3E");
}
#maplegend .maplegend-orange .box-icon-holder {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='87' height='132' viewBox='0 0 87 132'%3E%3Cg fill='none' stroke='%23FF6F00'%3E%3Cpath d='M43.5,0h0A43.5,43.5,0,0,1,87,43.5V132H0V43.5A43.5,43.5,0,0,1,43.5,0Z'/%3E%3Cpath d='M43.5.5h0a43,43,0,0,1,43,43v88H.5v-88A43,43,0,0,1,43.5.5Z'/%3E%3C/g%3E%3C/svg%3E");
}
#maplegend .maplegend-purple .box-icon-holder {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='87' height='132' viewBox='0 0 87 132'%3E%3Cg fill='none' stroke='%236900F2'%3E%3Cpath d='M43.5,0h0A43.5,43.5,0,0,1,87,43.5V132H0V43.5A43.5,43.5,0,0,1,43.5,0Z'/%3E%3Cpath d='M43.5.5h0a43,43,0,0,1,43,43v88H.5v-88A43,43,0,0,1,43.5.5Z'/%3E%3C/g%3E%3C/svg%3E");
}
#maplegend .maplegend-green .box-icon-holder {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='87' height='132' viewBox='0 0 87 132'%3E%3Cg fill='none' stroke='%2330B442'%3E%3Cpath d='M43.5,0h0A43.5,43.5,0,0,1,87,43.5V132H0V43.5A43.5,43.5,0,0,1,43.5,0Z'/%3E%3Cpath d='M43.5.5h0a43,43,0,0,1,43,43v88H.5v-88A43,43,0,0,1,43.5.5Z'/%3E%3C/g%3E%3C/svg%3E");
}
#maplegend .maplegend-green .box-icon-holder {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='87' height='132' viewBox='0 0 87 132'%3E%3Cg fill='none' stroke='%2330B442'%3E%3Cpath d='M43.5,0h0A43.5,43.5,0,0,1,87,43.5V132H0V43.5A43.5,43.5,0,0,1,43.5,0Z'/%3E%3Cpath d='M43.5.5h0a43,43,0,0,1,43,43v88H.5v-88A43,43,0,0,1,43.5.5Z'/%3E%3C/g%3E%3C/svg%3E");
}
#maplegend .maplegend-pink .box-icon-holder {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='87' height='132' viewBox='0 0 87 132'%3E%3Cg fill='none' stroke='%23F308AD'%3E%3Cpath d='M43.5,0h0A43.5,43.5,0,0,1,87,43.5V132H0V43.5A43.5,43.5,0,0,1,43.5,0Z'/%3E%3Cpath d='M43.5.5h0a43,43,0,0,1,43,43v88H.5v-88A43,43,0,0,1,43.5.5Z'/%3E%3C/g%3E%3C/svg%3E");
}
#maplegend .maplegend-grey .box-icon-holder {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='87' height='132' viewBox='0 0 87 132'%3E%3Cg fill='none' stroke='%23978C7D'%3E%3Cpath d='M43.5,0h0A43.5,43.5,0,0,1,87,43.5V132H0V43.5A43.5,43.5,0,0,1,43.5,0Z'/%3E%3Cpath d='M43.5.5h0a43,43,0,0,1,43,43v88H.5v-88A43,43,0,0,1,43.5.5Z'/%3E%3C/g%3E%3C/svg%3E");
}
#maplegend .border-bottom {
  border-bottom: 1px solid #978C7D !important;
}
/* Breadcrumb
================================================== */
.breadcrumb {
  margin: 0;
  padding: 20px 0;
}
.breadcrumb a,
.breadcrumb li {
  font-size: 16px;
  color: black;
  font-weight: 300;
}
.breadcrumb li.active {
  font-weight: 600;
}
.breadcrumb li.active:before {
  font-weight: 300;
  color: #9f9f9f;
}
/* Galeria
================================================== */
.nav.nav-tabs {
  margin: 0;
  padding: 30px;
  border: 0;
  background: #978c7d;
  border-radius: 50px;
  box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.25), inset 0 0 15px rgba(0, 0, 0, 0.55);
}
.nav.nav-tabs .nav-item {
  padding: 0 20px;
}
.nav.nav-tabs button {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
}
.nav.nav-tabs button.active {
  background: none;
  color: white;
  font-weight: 600;
}
.gallery-photo-container {
  overflow: hidden;
  border-radius: 10px;
}
.gallery .gallery-photo {
  height: 22rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.gallery .glightbox:hover .gallery-photo {
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
/* Investor
================================================== */
.investor-atuty img {
  margin-right: 10px;
}
.investor-atuty p {
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
}
.circle-holder {
  background: #978c7d;
  border-radius: 50%;
  overflow: hidden;
  border: 18px solid white;
  box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.25);
  width: 570px;
  height: 570px;
}
.financing .circle-holder {
  width: 430px;
  height: 430px;
}
.financing .cta-contact svg {
  width: 30px;
  height: 30px;
  margin-right: 14px;
}
.financing .cta-contact-item {
  padding: 15px 0 0;
}
.financing .cta-contact-details a {
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
  color: black;
}
.partners {
  background: white;
  border-radius: 70px;
  box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.25);
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* Sections
================================================== */
section {
  padding: 90px 0;
}
section.section-bg {
  background: #222 url("../images/ap-rooms-bg.jpg") no-repeat center center;
  background-size: cover;
  margin-top: 90px;
}
section.section-bg .section-title,
section.section-bg p {
  color: white;
}
.section-title,
.page-title {
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  font-size: 50px;
  color: black;
  margin-bottom: 30px;
}
h2.section-title {
  font-size: 30px;
  margin-bottom: 0;
}
.img-rounded {
  border-radius: 10px;
}
.ap-example {
  position: relative;
}
.ap-example .ap-example-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("../images/ap-white-op.png") no-repeat top left;
  display: flex;
  align-items: end;
  justify-content: center;
}
.ap-example .ap-example-hover:hover {
  background: url("../images/ap-white-op.png") no-repeat bottom left;
}
.ap-example .ap-example-hover:hover h3 {
  color: white;
  margin-bottom: 85px;
}
.ap-example .ap-example-hover h3 {
  text-transform: uppercase;
  color: black;
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 80px;
  transition: margin 0.2s ease-in-out;
}
header {
  padding: 20px 0;
}
header img {
  height: 129px;
  transition: all 200ms linear;
}
header li {
  padding: 0 35px;
  display: inline-flex;
  align-items: center;
  position: relative;
}
header li a {
  font-size: 16px;
  font-family: "MuseoModerno", sans-serif;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
header li.active a {
  color: #978c7d;
}
header li ul {
  position: absolute;
  left: 25px;
  top: 90px;
  background: #978c7d;
  width: 220px;
  padding: 10px 15px !important;
  display: none;
}
header li ul li {
  padding: 0;
  display: flex;
}
header li ul li a {
  color: white;
}
header li ul li a:hover {
  color: white;
}
header li:hover ul {
  display: block;
}
header.fixed {
  position: fixed;
  background: #fefefc;
  -webkit-box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.25);
  width: 100%;
  z-index: 9900;
  top: 0;
}
header.fixed li ul {
  top: 65px;
}
header.fixed img {
  height: 80px;
}
.header-holder {
  height: 169px;
}
.pagebody header {
  background: #fefefc;
  -webkit-box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.25);
}
footer {
  padding-top: 90px;
  background: #fff;
  -webkit-box-shadow: 0px -4px 5px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px -4px 5px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -4px 5px -4px rgba(0, 0, 0, 0.25);
}
footer .footer-box {
  margin-top: 40px;
}
footer .copyright {
  margin-top: 90px;
  border-top: 1px solid #CACCCE;
  padding: 15px 0;
}
footer .copyright p,
footer .copyright a {
  font-size: 12px;
  color: black;
  font-weight: 300;
  line-height: 28px;
}
footer .copyright span {
  color: #808080;
}
footer h4 {
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #424242;
  font-weight: 600;
  margin: 0;
  padding-bottom: 20px;
}
footer h5 {
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0 0;
}
footer li {
  padding: 5px 0;
  display: flex;
  align-items: center;
  font-weight: 400;
}
footer li svg {
  margin-right: 10px;
}
footer li a {
  font-size: 16px;
  color: black;
  font-weight: 400;
}
.pagebody footer {
  margin-top: 90px;
}
@media (max-width: 1419.98px) {
  #maplegend .box-icon-holder {
    height: 76px;
    width: 50px;
    margin-right: 15px;
    background-size: cover;
  }
  .box-icon-holder svg.walk-icon {
    width: 22px;
    height: auto;
  }
  .box-icon-holder svg.bike-icon {
    width: 35px;
    height: auto;
  }
  #map {
    min-height: 650px;
  }
  .ap-example .ap-example-hover,
  .ap-example .ap-example-hover:hover {
    background-size: 306px auto;
  }
}
@media (max-width: 1399.98px) {
  .header-holder {
    height: 140px;
  }
  #cta h3 {
    font-size: 32px;
    padding-bottom: 10px;
  }
  #cta li svg {
    margin-right: 10px;
    width: 24px;
  }
  #cta li {
    padding: 5px 0;
  }
  header li {
    padding: 0 30px;
  }
  header img {
    height: 100px;
  }
  .circle-holder {
    border: 14px solid #fff;
    width: 510px;
    height: 510px;
  }
  #maplegend span {
    font-size: 13px;
  }
  #maplegend span strong {
    font-size: 19px;
    display: block;
  }
  #maplegend .maplegend-grey span {
    font-size: 11px;
  }
  .ap-example .ap-example-hover,
  .ap-example .ap-example-hover:hover {
    background-size: 261px auto;
  }
  .ap-example h3 {
    text-align: center;
    padding: 0 20px;
  }
  header li ul {
    top: 70px;
  }
  header.fixed li ul {
    top: 60px;
  }
}
/* end of 1399.98 */
@media (max-width: 1199.98px) {
  .header-holder {
    height: 120px;
  }
  #cta .cta-content {
    padding-left: 120px;
  }
  header li {
    padding: 0 18px;
  }
  header img {
    height: 80px;
  }
  header.fixed img {
    height: 60px;
  }
  footer li a,
  header li a {
    font-size: 14px;
  }
  header li {
    padding: 0 20px;
  }
  .circle-holder {
    border: 11px solid #fff;
    width: 428px;
    height: 428px;
  }
  .ap-example .ap-example-hover,
  .ap-example .ap-example-hover:hover {
    background-size: 216px auto;
  }
  header li ul {
    top: 60px;
  }
  header.fixed li ul {
    top: 50px;
  }
}
/* end of 1199.98 */
@media (max-width: 991.98px) {
  .header-holder {
    height: 77px;
  }
  .footer-pm-logo {
    width: 60px;
  }
  .footer-pzfd-logo {
    width: 152px;
  }
  #cta .cta-content {
    padding-left: 90px;
  }
  #cta h3 {
    font-size: 24px;
    padding-bottom: 10px;
  }
  #cta li a {
    font-size: 16px;
  }
  #cta li svg {
    margin-right: 10px;
    width: 19px;
    height: 19px;
  }
  #cta li {
    padding: 6px 0;
    line-height: normal;
  }
  header {
    padding: 12px 0;
  }
  header li {
    padding: 0 12px;
  }
  header li a {
    font-size: 13px;
  }
  header img {
    height: 53px;
  }
  header.fixed img {
    height: 53px;
  }
  .circle-holder {
    border: 5px solid #fff;
    width: 248px;
    height: 248px;
    margin: 0 auto 40px;
  }
  .section-title,
  h2.section-title {
    font-size: 31px;
    line-height: 34px;
    margin-bottom: 15px;
  }
  .section-title br {
    display: none;
  }
  li,
  p {
    font-size: 16px;
    line-height: 27px;
  }
  section {
    padding: 50px 0;
  }
  .ap-example .ap-example-hover,
  .ap-example .ap-example-hover:hover {
    background-size: 276px auto;
  }
  header li ul {
    top: 44px;
    left: 12px;
    width: 180px;
  }
  header.fixed li ul {
    top: 44px;
  }
}
/* end of 991.98 */
@media (max-width: 767.98px) {
  section {
    padding: 30px 0;
  }
  .pagebody footer {
    margin-top: 30px;
  }
  footer {
    padding-top: 30px;
  }
  footer .copyright {
    margin-top: 30px;
  }
  footer .copyright p {
    font-size: 12px;
    color: #000;
    font-weight: 300;
    line-height: 17px;
  }
  footer .footer-box {
    margin-top: 30px;
  }
  footer h4 {
    padding-bottom: 5px;
  }
  #cta .cta-content {
    padding-left: 75px;
  }
  #cta h3 {
    font-size: 19px;
    padding-bottom: 5px;
  }
  #cta li a {
    font-size: 15px;
  }
  #cta li svg {
    margin-right: 7px;
    width: 17px;
    height: 17px;
  }
  #cta li {
    padding: 4px 0;
  }
  header nav {
    display: none;
  }
  header img,
  header.fixed img {
    height: 44px;
  }
  .col-mobile-menu {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  #triggermenu {
    background: #978c7d;
    padding: 5px 10px;
    gap: 10px;
    width: 101px;
    color: white;
    margin-left: auto;
    cursor: pointer;
  }
  .header-holder {
    height: 68px;
  }
  .openmenu header nav {
    display: block;
    position: fixed;
    top: 68px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #978c7d;
    z-index: 9999;
  }
  .openmenu header nav ul {
    display: block !important;
    padding-top: 30px;
  }
  .openmenu header nav ul img {
    display: none;
  }
  .openmenu header nav ul li {
    width: 100%;
    padding: 13px 0;
    display: block;
    text-align: center;
  }
  .openmenu header nav ul li.list-item-logo {
    display: none;
  }
  .openmenu header nav ul li a {
    font-size: 24px;
  }
  .openmenu header nav ul.gotsub {
    padding-bottom: 0;
  }
  .openmenu header nav ul li.active a {
    color: #fff;
  }
  .openmenu header nav ul li.d-flex {
    padding: 5px 0;
    justify-content: center;
  }
  .openmenu header nav ul li.d-flex a {
    font-size: 18px;
  }
  .openmenu header li ul {
    position: static;
    display: flex !important;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 !important;
  }
  .openmenu header li ul li {
    display: flex;
    justify-content: center;
  }
  .openmenu header li ul li a {
    color: black;
  }
  .openmenu header li ul li a:hover {
    color: black;
  }
  #maplegend .maplegend-box {
    display: block;
    margin-bottom: 25px;
    text-align: center;
  }
  #maplegend span strong {
    font-size: 19px;
    display: block;
    line-height: 14px;
    margin-top: 12px;
  }
  #maplegend .box-icon-holder {
    margin: 0 auto;
  }
  .ap-example .ap-example-hover,
  .ap-example .ap-example-hover:hover {
    background-size: 201px auto;
  }
}
/* end of 767.98 */
@media (max-width: 575.98px) {
  main {
    padding: 0 15px;
  }
  .section-bg {
    margin-left: -15px;
    margin-right: -15px;
  }
  .footer-finezja-logo {
    width: 130px;
    margin: 0 auto;
  }
  .footer-pm-logo {
    width: 50px;
  }
  .footer-pzfd-logo {
    width: 130px;
  }
  footer li svg {
    display: none;
  }
  footer li {
    line-height: 20px;
  }
  footer li,
  footer p,
  footer li a {
    font-size: 15px;
  }
  .nav.nav-tabs {
    padding: 13px;
    border-radius: 10px;
  }
  #cta .cta-content {
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
  }
  #cta h3 {
    font-size: 28px;
    padding-bottom: 15px;
  }
  #cta li {
    padding: 7px 0;
  }
  #cta li a {
    font-size: 18px;
  }
  #cta li svg {
    margin-right: 9px;
    width: 19px;
    height: 19px;
  }
  .bttn-big {
    padding: 0 30px;
    margin: 20px 30px 0;
    width: calc(100% - 60px);
  }
  .circle-holder {
    width: 170px;
    height: 170px;
    margin: 0 auto 30px;
  }
  .contact-form {
    border-radius: 10px;
    padding: 20px 10px;
  }
  .contact-form .form-control {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
  }
  .contact-form label.lab-anim {
    font-size: 15px;
    padding: 0 0 4px 10px;
  }
  .contact-form textarea {
    height: 160px;
  }
  #map {
    min-height: 440px;
  }
  #maplegend .box-icon-holder {
    height: 53px;
    width: 35px;
    margin: 0 auto;
    background-size: cover;
  }
  #maplegend .maplegend-box {
    margin-bottom: 11px;
  }
  #maplegend .box-icon-holder svg {
    width: 22px;
    height: auto;
  }
  #maplegend .box-icon-holder svg.walk-icon {
    width: 16px;
    height: auto;
  }
  #maplegend .box-icon-holder svg.bike-icon {
    width: 25px;
    height: auto;
  }
  #maplegend .maplegend-grey span {
    font-size: 11px;
    line-height: 12px;
    margin-top: 6px;
  }
  .apartment-details .col-12 {
    border-bottom: 1px solid #978c7d;
    border-right: 0;
    border-left: 0;
    padding: 10px 0;
  }
  .apartment-details .col-12:last-child {
    border-bottom: 0;
  }
  .ap-example {
    width: 156px;
    margin: 0 auto;
  }
  .ap-example .ap-example-hover,
  .ap-example .ap-example-hover:hover {
    width: 156px;
    background-size: 156px auto;
  }
}
/* end of 575.98 */
@media (max-width: 359.98px) {
  .ap-example {
    width: 126px;
    margin: 0 auto;
  }
  .ap-example .ap-example-hover,
  .ap-example .ap-example-hover:hover {
    width: 126px;
    background-size: 126px auto;
  }
  .ap-example .ap-example-hover h3,
  .ap-example .ap-example-hover:hover h3 {
    font-size: 15px;
    margin-bottom: 32px;
  }
}
/*# sourceMappingURL=style.css.map */